html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Fato", sans-serif;
  font-weight: normal;
}
h1{
    text-transform: uppercase; 
    color:#2F2F2F !important;
}
header {
  width: 78%;
    margin: auto;

}
.ebay p{
    margin: 0 5px;
}
header * {
  box-sizing: border-box;
}
header .logo {
  padding: 20px 0;

  display: flex;
    background-color: #000000;
  justify-content: center;
  align-items: center;
}
header .info {
  padding: 15px 5%;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .info .info-block {
  display: flex;
  align-items: center;
}
header .info .info-block img {
  height: 33px;
  margin-right: 18px;
}
.hiddenLogo{
    display: none;
}

header .info .info-block h2 {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #707070;
}

main {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10% 5%;
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
}
main .gallery {
/*  margin-right: 5%;*/
  font-size: 0;
  content: "";
  width: 45%;

}
main .gallery h1 {
  display: none;
}
main .gallery .gallery-main {
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
main .gallery .gallery-main img {
  width: 100%;
}
main .gallery .gallery-small {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
main .gallery .gallery-small div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-top: 2%;
  margin-right: 2%;
  width: 23.5%;
  overflow: hidden;
}
main .gallery .gallery-small div img {
  width: 100%;
}
main .gallery .gallery-small div:nth-of-type(4n) {
  margin-right: 0;
}
main .main-text {
  color: #707070;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main .main-text h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}
main .main-text .mobile-text {
  display: none;
}
main .main-text p, main .main-text li {
  font-size: 16px;
  line-height: 24px;
}
main .main-text h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

body > section.info {
  display: none;
}

footer {
  padding: 8% 0;
  background-image: url("../assets/lh-living-home-cushions-subcategory-banner-2920x600-_2x%20(1).png");
  background-position: center center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 78%;;
    margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer img, footer h2, footer a {
  color: white;
  position: relative;
  z-index: 1;
}
footer img {
  height: 65px;
}
footer h2 {
  font-size: 25px;
  line-height: 33px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  padding: 20px 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #F05423;
  transition: background-color 0.1s linear;
}
footer a:hover {
  background-color: #c4421d;
}
.upper{
    margin: auto;
     width: 78%;
    height: 13vh;
    border:1px solid silver;
    background-color: #000000;
}
.bottom{
    margin:auto;
    width: 78%;
    background-color: #000000;
}

@media only screen and (max-device-width: 900px) and (max-width: 900px) {
  .wrapper {
    min-height: unset !important;
  }
    header{
        width: 100%;
        
    }
  header .logo {
    padding: 20px;
    border-bottom: 1px solid #D8D8D8;
      height: 12vh;
  }
  header .logo img {
    width: 50%;
  }
  header .info {
    display: none !important;
  }

  main {
    padding: 25px 5% 15%;
    flex-direction: column;
    align-items: center;
  }
  main .gallery {
    align-items: center;
    width: 100%;
    margin-right: 0;
      margin-top: 50px;
  }
  main .gallery h1 {
    margin-top: 0;
    line-height: 37px;
    margin-bottom: 25px;
    width: 100%;
    color: #707070;
    font-weight: bold;
    display: block !important;
    font-size: 30px;
  }
  main .main-text {
    width: 100%;
  }
  main .main-text h1 {
      position: absolute;
      top:95px;
  }
  main .main-text h2 {
    margin: 20px 0;
  }
  main .main-text h2, main .main-text p {
    font-size: 18px;
  }
  main .main-text .desktop-text {
    display: none;
  }
  main .main-text .mobile-text {
    display: block;
  }
    .hiddenLogo{
        display: block;
        margin: auto;
    }
  main .main-text ul {
    display: none;
  }
    .bottom{
        display: none;
    }
 
    .upper{
        width: 100%;
        height: 35vh;
    }
    
    h2{
        width: 100%;
    }
    .thirstFooterText h2{
            width: 90vw;
    text-align: center;
/*    margin-left: -13%;*/
    }
    .thirstFooter{
        width: auto;
        flex-wrap: wrap !important;
    }

  body > section.info {
    border-top: 1px solid #D8D8D8;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > section.info .info-block:last-child {
    margin-bottom: 0;
  }
  body > section.info .info-block {
    margin-bottom: 10%;
    display: flex;
    align-items: center;
  }
  body > section.info .info-block img {
    height: 30px;
    margin-right: 15px;
  }
  body > section.info .info-block h2 {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
          font-size: 20px;
    color: #707070;
  }

  footer {
    box-sizing: border-box;
    padding: 27% 10%;
      width: 100%;
  }

  footer img {
    height: 50px;
  }
  footer h2 {
    line-height: 1.1;
    text-align: center;
  }
  footer a {
    border-radius: 20px;
    font-size: 28px;
    line-height: 1.1;
  }
}
@media only screen and (max-device-width: 320px) and (max-width: 320px) {
    h1 {
    font-size: 23px !important;
    top:85px!import;
    }
   
    
}


.thirstFooter{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin:auto;
    padding: 2%;
    height: -webkit-fill-available;
    flex-wrap: nowrap
}
.thirstFooterText{
    color:#FFFFFF;
    margin: auto
}
.button{
    background-color: #808080;
    width: 166px;
    color:white;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: auto
   
}

.bottomText{
    color: white;
    font-size: 14px;
    color:#7B7B7B;
    padding-top: 2.5%;
    
}
.bottomLogo{
    width: 40%;




}
.bottomLogo{
    margin: 70px;
}
.bottomWrap{
    width: 80%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: auto
}
.downLogos{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 2%
}
/*# sourceMappingURL=style.css.map */
