html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}

header {
  * {
    box-sizing: border-box;
  }
  width: 100%;
  .logo {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    padding: 15px 15%;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .info-block {
      display: flex;
      align-items: center;
      img {
        height: 33px;
        margin-right: 18px;
      }
      h2 {
        margin: 0;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #707070;
      }
    }
  }
}

main {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 15% 5%;
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
  .gallery {
    margin-right: 5%;
    font-size: 0;
    content: '';
    width: 50%;
    h1 {
      display: none;
    }
    .gallery-main {
      overflow: hidden;
      margin: 0;
      display: flex;
      align-items: center;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .gallery-small {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        margin-top: 2%;
        margin-right: 2%;
        width: 23.5%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      div:nth-of-type(4n) {
        margin-right: 0;
      }
    }
  }
  .main-text {
    color: #707070;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    h1 {
      margin-top: 0;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;

    }
    .mobile-text {
      display: none;
    }
    p, li {
      font-size: 16px;
      line-height: 24px;
    }
    h2 {
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
    }
  }
}

body > section.info {
  display: none;
}

footer {
  padding: 5% 0;
  background-image: url("../assets/cyg_brander.png");
  background-position: center center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(0, 0, 0, .4);
  }
  img, h2, a {
    color: white;
    position: relative;
    z-index: 1;
  }
  img {
    height: 65px;
  }
  h2 {
    font-size: 25px;
    line-height: 33px;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #F05423;
    transition: background-color .1s linear;
    &:hover {
      background-color: #c4421d;
    }
  }

}

@media only screen and (max-device-width: 900px) and (max-width: 900px) {
  .wrapper {
    min-height: unset !important;
  }
  header {
    .logo {
      padding: 20px;
      img {
        width: 50%;
      }
      border-bottom: 1px solid #D8D8D8;
    }
    .info {
      display: none !important;
    }
  }
  main {
    padding: 25px 5% 15%;
    flex-direction: column;
    align-items: center;
    .gallery {
      align-items: center;
      width: 100%;
      margin-right: 0;
      h1 {
        margin-top: 0;
        line-height: 37px;
        margin-bottom: 25px;
        width: 100%;
        color: #707070;
        font-weight: bold;
        display: block !important;
        font-size: 30px;
      }
    }
    .main-text {
      width: 100%;
      h1 {
        display: none;
      }
      h2 {
        margin: 20px 0;
      }
      h2, p {
        font-size: 18px;
      }
      .desktop-text {
        display: none;
      }
      .mobile-text {
        display: block;
      }
      ul {
        display: none;
      }

    }
  }

  body > section.info {
    border-top: 1px solid #D8D8D8;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .info-block:last-child {
      margin-bottom: 0;
    }
    .info-block {
      margin-bottom: 10%;
      display: flex;
      align-items: center;
      img {
        height: 30px;
        margin-right: 15px;
      }
      h2 {
        margin: 0;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: normal;
        color: #707070;
      }
    }
  }

  footer {
    box-sizing: border-box;
    padding: 10% 10%;
    img {
      height: 50px;
    }
    h2 {
      line-height: 1.1;
      text-align: center;
    }
    a {
      border-radius: 20px;
      font-size: 28px;
      line-height: 1.1;
    }
  }

}
